a.navbar-brand {
  display: inline-flex;
  align-items: center;
  white-space: normal;
  font-family: 'Permanent Marker', cursive;
  font-size: xxx-large;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

i.material-icons {
  color: white;
  padding-right: 20px;
  font-size: xxx-large;
}

a.btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
  background-color: white;
  color: #1976d2;
  border: none;
  margin-left: 20px;
}

a.btn:hover {
  opacity: 0.8;
  font-weight: normal;
}

a.btn i.material-icons {
  color: #1976d2;
  padding-right: 9px;
}
